
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

header {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #2575fc;
    padding: 15px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

a.voltar {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #2575fc;
    padding: 10px 20px;
    border-radius: 10px;
}

a.voltar:hover {
    background-color: #0056b3;
}

footer {
    background-color: #2575fc;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#date-time {
    margin-top: 20px;
    font-size: 1.2em;
    color: #666;
}
